@page "/altausuario"
@* @page "altausuario{userId}" *@
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoUsuarioAlta CrearNuevoUsuario

<h3>Registrar nuevo usuario</h3>
<br />
<label for="nombre">Nombre:</label>
<input id="nombre" placeholder="Nombre" @bind="_usuario.Nombre" class="form-control">
<br />
<label for="apellido">Apellido:</label>
<input id="apellido" placeholder="Apellido" @bind="_usuario.Apellido" class="form-control">
<br />
<label for="email">Email:</label>
<input id="email" placeholder="Email" @bind="_usuario.Email" class="form-control">
<br />
<label for="pass">Password:</label>
<input id="pass" placeholder="Password" @bind="_usuario.Password" class="form-control">
<br />
<br />
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@if (ShowError)
{
  <br />
  <h4>@MensajeError</h4>
}

@code {
  @* [Parameter] public int userId { get; set; } *@
  Usuario _usuario = new Usuario();
  private bool ShowError { get; set; } = false;
  private string MensajeError { get; set; } = "Ocurrió un error";
  void Aceptar()
  {
    try
    {
      if (!string.IsNullOrEmpty(_usuario.Nombre) && !string.IsNullOrEmpty(_usuario.Apellido) &&
      !string.IsNullOrEmpty(_usuario.Email) && !string.IsNullOrEmpty(_usuario.Password))
      {
        CrearNuevoUsuario.Ejecutar(_usuario);
        Navegador.NavigateTo("listadousuarios");
      }
      else
      {
        throw new Exception("Debe ingresar todos los campos para completar el registro");
      }
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
}