@page "/agregarexpediente"
@* @page "/agregarexpediente{userId}" *@
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoExpedienteAlta agregarExpediente

<h3>Agregar nuevo expediente</h3>
<br />
<input placeholder="Caratula" @bind="_expediente.Caratula" class="form-control">
<br />
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
@if (ShowError)
{
  <br />
  <h4>@MensajeError</h4>
}
@code {
  @* [Parameter] public int userId { get; set; } *@
  Expediente _expediente = new Expediente();
  private int userId = 1;
  private bool ShowError { get; set; } = false;
  private string MensajeError { get; set; } = "Ocurrió un error";
  void Aceptar()
  {
    try
    {
      agregarExpediente.Ejecutar(_expediente, userId);
      _expediente = new Expediente();
      Navegador.NavigateTo("listadoexpedientes");
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
}