@page "/modificarexpediente{userId:int}/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoExpedienteModificacion modificarExpediente
@inject CasoDeUsoExpedienteConsultaPorId getExpById
@inject CasoDeUsoExpedienteConsultaTodos ConsultarTodos

<h3>Modificando al Expediente "@_expediente.Id" - "@_expediente.Caratula"</h3>
<label for="caratula">Carátula:</label>
<input id="caratula" placeholder="Caratula" @bind="_expediente.Caratula" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
@if (ShowError)
{
  <br />
  <h4>@MensajeError</h4>
}
@code {
  [Parameter] public int userId { get; set; }
  Expediente _expediente = new Expediente();
  private bool ShowError = false;
  private string MensajeError { get; set; } = "Ah ocurrido un error";
  [Parameter] public int? Id { get; set; }
  protected override void OnParametersSet()
  {
    if (Id != null)
    {
      try
      {
        var exp_hallado = getExpById.Ejecutar(Id.Value);
        if (exp_hallado != null)
        {
          _expediente = exp_hallado;
        }
      }
      catch (Exception e)
      {
        MensajeError = e.Message;
        ShowError = true;
      }
    }
  }
  void Aceptar()
  {
    try
    {
      modificarExpediente.Ejecutar(_expediente, userId);
      _expediente = new Expediente();
      Navegador.NavigateTo($"/listadoexpedientes{userId}");
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
}
