@page "/"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioAutenticar AutenticarUsuario
@inject NavigationManager NavigationManager


<h1>Iniciar sesión</h1>
<form>
  <label for="email">Email:</label>
  <input type="email" id="email" @bind="email" />
  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" @bind="password" />
  <br />

  <button @onclick="Autenticar">Sign In</button>
</form>

@code {
  string? email;
  string? password;
  int userId;
  private void Autenticar()
  {
    try
    {
    if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(password))
    {
      AutenticarUsuario.Ejecutar(email, password, out userId);
      NavigationManager.NavigateTo($"menuprincipal{userId}");
    }
    else
    {
      throw new Exception("Debe ingresar email y password");
    }
    }
    catch(Exception e)
    {

    }
  }
}

