@page "/"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioAutenticar autenticarUsuario
@inject NavigationManager Navegador


<h1>Iniciar sesión</h1>
<form>
  <label for="email">Email:</label>
  <input id="email" @bind="email" />
  <br />
  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" @bind="password" />
  <br />
  <br />

  <button class="btn btn-primary" @onclick="Autenticar">Iniciar sesión</button>
</form>
<br />
<h4> Por problemas en la navegación luego de iniciar sesión se debe recorrerr la aplicación desde
  la opción "Menú Principal (admin)" presente en la barra lateral.
</h4>


<br />
<br />
<br />
<p>¿No posee una cuenta? </p>
<button class="btn btn-primary" @onclick="GoToRegistro">Registrarse</button>

@if (ShowError)
{
  <br />
  <br />
  <h4>@MensajeError</h4>
}

@code {
  string? email;
  string? password;
  int userId;
  private bool ShowError = false;
  private string MensajeError { get; set; } = "Ha ocurrido un error";
  private void Autenticar()
  {
    try
    {
      if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(password))
      {
        autenticarUsuario.Ejecutar(email, password, out userId);
        @* No funciona la navegación a pesar de intentarlo de muchas formas *@
        Navegador.NavigateTo($"/menuprincipal/{userId}");

      }
      else
      {
        throw new Exception("Debe ingresar email y password");
      }
    }
    catch(Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
  void GoToRegistro()
  {
    Navegador.NavigateTo("/registro");
  }
}

