@page "/menuprincipal/{userId:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador

<h1>Elija a qué menú desea acceder</h1>
<div class="vertical">
  <button class="btn btn-primary" @onclick="GoToListadoExpedientes">Expedientes</button>
  <button class="btn btn-primary" @onclick="GoToMenuTramites">Trámites</button>
  @if (userId == 1)
  {
    <button class="btn btn-primary" @onclick="GoToListadoUsuarios">Usuarios</button>
  }
  <button class="btn btn-primary" @onclick="GoToEditarPerfil">Editar Perfil</button>
</div>


@code {
  [Parameter] public int userId { get; set; }

  protected override void OnInitialized()
  {
    if (userId == 0)
      userId = 1;
  }
  void GoToListadoExpedientes()
  {
    Navegador.NavigateTo($"/listadoexpedientes{userId}");
  }
  void GoToMenuTramites()
  {
    Navegador.NavigateTo($"/menutramites{userId}");
  }
  void GoToListadoUsuarios()
  {
    Navegador.NavigateTo($"/listadousuarios{userId}");
  }
  void GoToEditarPerfil()
  {
    Navegador.NavigateTo($"modificarusuario{userId}/{userId}");

  }
}