@page "/signin"
@inject CasoDeUsoUsuarioAlta casoDeUso
@inject NavigationManager NavigationManager

<h3>Sign In</h3>

<form>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" @bind="usuario.Nombre" />
  <br />

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" @bind="usuario.Apellido" />
  <br />

  <label for="email">Email:</label>
  <input type="email" id="email" @bind="usuario.Email" />
  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" @bind="usuario.Password" />
  <br />

  <button @onclick="CrearUsuario">Sign In</button>
</form>

@code {
  private Usuario usuario = new Usuario();

  private void CrearUsuario()
  {
    casoDeUso.Ejecutar(usuario);
    NavigationManager.NavigateTo("/");
  }
}